.root {
    -fx-padding: 5px;
}

.log-view .list-cell {
    -fx-background-color: null; // removes alternating list gray cells.
    -fx-font-size: 10;
}

.log-view .list-cell:debug {
    -fx-text-fill: gray;
}

.log-view .list-cell:info {
    -fx-text-fill: green;
}

.log-view .list-cell:warn {
    -fx-text-fill: purple;
}

.log-view .list-cell:error {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}